#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_megacoin
#build/megacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_megacoin)

DEB_INSTALL_EXAMPLES_megacoind += debian/examples/*
DEB_INSTALL_MANPAGES_megacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix megacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f megacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake megacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_megacoin
	src/test_megacoin

# Ensure wrapper is set executable
binary-post-install/megacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/megacoind
binary-post-install/megacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/megacoin-qt
