src/*.exe
src/megacoin
src/megacoind
src/test_megacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.megacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
megacoin-qt
Megacoin-Qt.app

# Unit-tests
Makefile.test
megacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
