policy_module(megacoin, 1.100.1)

########################################
#
# Declarations
#

type megacoin_t;
type megacoin_exec_t;
init_daemon_domain(megacoin_t, megacoin_exec_t)

permissive megacoin_t;

type megacoin_initrc_exec_t;
init_script_file(megacoin_initrc_exec_t)

type megacoin_conf_t;
files_type(megacoin_conf_t)

type megacoin_var_lib_t;
files_type(megacoin_var_lib_t)

type megacoin_var_run_t;
files_type(megacoin_var_run_t)

type megacoin_port_t;
corenet_port(megacoin_port_t)

########################################
#
# megacoin local policy
#
allow megacoin_t self:process { fork };

allow megacoin_t self:fifo_file rw_fifo_file_perms;
allow megacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(megacoin_t, megacoin_conf_t, megacoin_conf_t)
manage_files_pattern(megacoin_t, megacoin_conf_t, megacoin_conf_t)

manage_dirs_pattern(megacoin_t, megacoin_var_lib_t, megacoin_var_lib_t)
manage_files_pattern(megacoin_t, megacoin_var_lib_t, megacoin_var_lib_t)
files_var_lib_filetrans(megacoin_t, megacoin_var_lib_t, { dir file })

manage_dirs_pattern(megacoin_t, megacoin_var_run_t, megacoin_var_run_t)
manage_files_pattern(megacoin_t, megacoin_var_run_t, megacoin_var_run_t)

sysnet_dns_name_resolve(megacoin_t)
corenet_all_recvfrom_unlabeled(megacoin_t)

allow megacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(megacoin_t)
corenet_tcp_sendrecv_generic_node(megacoin_t)
corenet_tcp_sendrecv_all_ports(megacoin_t)
corenet_tcp_bind_generic_node(megacoin_t)

gen_require(`
    type megacoin_port_t;
')
allow megacoin_t megacoin_port_t:tcp_socket name_bind;

gen_require(`
    type megacoin_port_t;
')
allow megacoin_t megacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(megacoin_t)

files_read_etc_files(megacoin_t)

miscfiles_read_localization(megacoin_t)

sysnet_dns_name_resolve(megacoin_t)

allow megacoin_t megacoin_exec_t:file execute_no_trans;
allow megacoin_t self:process setsched;
corecmd_exec_ls(megacoin_t)
corenet_tcp_connect_http_port(megacoin_t)
dev_read_urand(megacoin_t)
fs_getattr_xattr_fs(megacoin_t)
kernel_read_system_state(megacoin_t)
